<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app2.min.js"></script>
</head>

<body>
<h1>THIS IS THE SECRET PAGE</h1>
<form id="inputForm" method="POST">
    <label for="username">Username:</label>
    <input name="username" id="username" type="text">
    <label for="message">message:</label>
    <input name="message" id="message" type="text">
    <input type="submit" id="submit" value="submit">
    <button id = 'refresh' class=' btn btn-warning btn-lg'> Refresh </button>
</form>
<div id="results"></div>
</body>
</html>